.env
/imgalaxy/download-logs.log
/imgalaxy/resources/checksums.sha1sum
/imgalaxy/resources/logs/
/imgalaxy/resources/dataset/
/imgalaxy/resources/checksums.sha1sum
/imgalaxy/__pycache__/
/imgalaxy/resources/
/imgalaxy/wandb/